{% extends "base.html" %}
{% block content %}
<div class="container-fluid my-3 p-3 justify-content-center align-items-center shadow rounded">
    <div class="mt-2 p-2 bg-danger text-center text-white rounded h3">
        เพิ่มข้อมูลสินค้า
    </div>
<form action="" method="POST">
{% csrf_token %}
<h5>เพิ่มประเภทยา</h5>
<label for="exampleFormControlInput1">ประเภทยา</label>
                <input type="text" class="form-control mb-2" placeholder="ชื่อประเภทยา" name="type_name" required>
<button type="submit" class="btn btn-success w-100" >บันทึก</button>
</form>
</div>
{% endblock  %}